* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url(Background.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial;
    padding: 10px;
  }
  
  /* Header/Blog Title */
  .header {
    display:relative;
    padding: 30px;
    text-align: center;
    background: rgba(24, 103, 109, 0.2);
  }
  
  .header h1 {
    
    position:sticky;
    padding: 0px 0px 0px 0px;
    font-size: 50px;
    color: rgba(249, 252, 253, 0.993);
    text-shadow:2px 2px #021924;
    font-family: "Lucida Console", "Courier New", monospace;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow:hidden;
    background-color: rgb(19, 160, 196);
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  /*remarks*/
  .topnav p{
    font-size: 20px;
    margin: 0px 0px 0px 0px;
  }
  /* Style the topnav links */
  .topnav a {
    float:center;
    display:block;
    color:rgb(255, 255, 255);
    text-align:center;
    padding: 3px 30px 3px 30px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgba(255, 247, 247, 0.2);
    color: rgb(0, 0, 0);
  }

  /*logo css*/
  .logo img{
    float: left;
    image-rendering:1080px;
    image-resolution:1080px;
    margin: 0;
    padding: 0 0 0 0;
    height: 100%;
    width: 150px;
    display:block;
    background-color: rgb(6, 49, 70);
  }

/*Menu Css*/
  .dropdown {
    float:right;
    overflow: hidden;
    padding: 0px 30px 0px 0px;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(253, 253, 253);
    padding: 0px;
    background-color: inherit;
    font-family: inherit;
    margin:0;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(35, 143, 201);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 10%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    background-color:rgba(63, 193, 219, 0.6)
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(245, 245, 245);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(72, 202, 228);
  }
  
  .dropdown:hover .dropdown-content {
    display:block;
  }
  
  /* Footer */
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background-color:rgb(6, 149, 185);
    margin-top: 20px;
  }
  .footer a{
    color: #eeeeee;
    margin: 0px 100px 0px 100px;
  }

  @import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .wrapper{
    margin-top: 10%;
  }
  
  .wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: rgba(38, 97, 105, 0.329);
    border-radius: 50px 50px;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #292929;  
    position: relative;
  }
  
  .team .team_member h3{
    color: #f3f310;
    font-size: 26px;
    margin-top: 50px;
  }
  .team .team_member p{
    font-size: 12px;
    color:antiquewhite;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: flex-start;
  }
  .team .team_member p.role{
    color: rgb(238, 238, 238);
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
  }  


  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .regions{   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
